.calendar {
  margin: 4rem 25%;
  position: relative;
  border-top: 1px solid;
  text-align: center;
  width: 50%; }
  .calendar_header {
    font-size: 2.5rem;
    display: inline; }
    .calendar_header .active {
      color: #FF0279;
      border: 1px solid;
      border-radius: 25px;
      padding: 5px; }
    .calendar_header_year {
      margin-bottom: 15px;
      border-bottom: 1px solid; }
    .calendar_header_substract-month {
      position: relative;
      text-align: left;
      cursor: pointer;
      right: 20%; }
    .calendar_header_add-month {
      position: relative;
      text-align: left;
      cursor: pointer;
      left: 20%; }
    .calendar_header_month {
      display: inline; }
      .calendar_header_month_1 {
        position: relative;
        margin-left: 1rem;
        margin-right: 1rem;
        right: 15%; }
      .calendar_header_month_3 {
        position: relative;
        margin-left: 1rem;
        margin-right: 1rem;
        left: 15%; }
      .calendar_header_month span {
        cursor: pointer; }
  .calendar_week-header {
    width: 100%;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: -0.7rem; }
    .calendar_week-header p {
      border: 1px solid #5B5A60;
      border-left: none;
      text-align: center;
      font-size: 1.5rem;
      display: inline-block;
      padding: 10px;
      height: 100%;
      width: 14.28%; }
      .calendar_week-header p:nth-child(1) {
        border-left: 1px solid #5B5A60; }
  .calendar_date-area {
    text-align: left;
    width: 100%; }
    .calendar_date-area div {
      display: inline-block; }
      .calendar_date-area div:hover {
        background: #3429AB;
        cursor: pointer;
        color: white; }
    .calendar_date-area .before-or-not-this-month {
      color: darkgray; }
    .calendar_date-area .before-this-date {
      cursor: not-allowed;
      color: darkgray; }
      .calendar_date-area .before-this-date:hover {
        background: #EDEEEF;
        cursor: not-allowed;
        color: darkgray; }
    .calendar_date-area .selected-date {
      background: #FF0279;
      color: white; }
      .calendar_date-area .selected-date:hover {
        background: #3429AB;
        color: white; }
    .calendar_date-area .day_0 {
      text-align: center;
      position: relative;
      border: 1px solid #5B5A60;
      border-top: none;
      border-left: none;
      padding: 10px;
      width: 14.28%;
      border-left: 1px solid #5B5A60; }
    .calendar_date-area .day_1 {
      text-align: center;
      position: relative;
      border: 1px solid #5B5A60;
      border-top: none;
      border-left: none;
      padding: 10px;
      width: 14.28%; }
    .calendar_date-area .day_2 {
      text-align: center;
      position: relative;
      border: 1px solid #5B5A60;
      border-top: none;
      border-left: none;
      padding: 10px;
      width: 14.28%; }
    .calendar_date-area .day_3 {
      text-align: center;
      position: relative;
      border: 1px solid #5B5A60;
      border-top: none;
      border-left: none;
      padding: 10px;
      width: 14.28%; }
    .calendar_date-area .day_4 {
      text-align: center;
      position: relative;
      border: 1px solid #5B5A60;
      border-top: none;
      border-left: none;
      padding: 10px;
      width: 14.28%; }
    .calendar_date-area .day_5 {
      text-align: center;
      position: relative;
      border: 1px solid #5B5A60;
      border-top: none;
      border-left: none;
      padding: 10px;
      width: 14.28%; }
    .calendar_date-area .day_6 {
      text-align: center;
      position: relative;
      border: 1px solid #5B5A60;
      border-top: none;
      border-left: none;
      padding: 10px;
      width: 14.28%; }
  .calendar .time-period {
    margin-top: 1rem;
    border-bottom: 2px solid; }
    .calendar .time-period div {
      margin-top: 1rem; }
    .calendar .time-period .time-deviend {
      margin-left: 1rem;
      margin-right: 1rem;
      font-size: 1.5rem; }
    .calendar .time-period_select {
      border: 1px solid;
      padding: 10px;
      cursor: pointer;
      background: #EDEEEF;
      color: #5B5A60;
      margin-bottom: 1rem; }
      .calendar .time-period_select:hover {
        background: #3429AB;
        color: white; }
      .calendar .time-period_select_option {
        background: #EDEEEF;
        color: #5B5A60; }
  .calendar_submit {
    box-shadow: 0 0 5px 0px #5B5A60;
    padding: 10px;
    cursor: pointer; }
    .calendar_submit:hover {
      box-shadow: 0 0 15px 0px #5B5A60;
      background: #3429AB;
      color: white; }
  .calendar_des {
    margin-bottom: 1rem; }

@media screen and (max-width: 550px) {
  .calendar {
    margin: 4rem 10%;
    width: 80%; } }
