.contact_input_timeNsalary {
  margin-top: 3rem;
  width: 100%; }
  .contact_input_timeNsalary_time {
    margin: 0 0 2rem 1.5rem;
    border: 1px solid;
    border-radius: 25px;
    padding: 15px;
    cursor: pointer; }
    .contact_input_timeNsalary_time:hover {
      background: #3429AB;
      color: white;
      box-shadow: 0 0 10px 3px #696969; }
  .contact_input_timeNsalary_salary {
    background: #DCDCDC;
    padding: 20px;
    margin: 0 25% 0 25%;
    border-radius: 25px; }
    .contact_input_timeNsalary_salary i {
      margin-bottom: 1rem; }
    .contact_input_timeNsalary_salary p {
      display: inline; }
    .contact_input_timeNsalary_salary_range {
      margin: 1rem 0 0 0; }
    .contact_input_timeNsalary_salary_title p {
      font-size: 2.5rem; }
    .contact_input_timeNsalary_salary_slash {
      margin: 0 1rem; }

.contact_input_submit {
  margin: 4rem 35% 4rem 35%;
  border: 2px solid #696969;
  padding: 10px;
  border-radius: 25px;
  font-size: 2rem;
  cursor: pointer; }
  .contact_input_submit:hover {
    background: #3429AB;
    color: white;
    box-shadow: 0 0 10px 3px #696969; }
  @media screen and (max-width: 768px) {
    .contact_input_submit {
      margin: 4rem 25% 0 25%; } }

.contact_input_sign-up {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  background: #FF0279;
  color: white;
  box-shadow: 0 0 10px 3px #696969; }
  .contact_input_sign-up i {
    margin-left: 2rem; }

.contact_input_login {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  box-shadow: 0 0 10px 3px #696969; }
