@import '../../base/percentage-bar.scss';
.about-me {
    margin: 0% 10% 0% 10%;
    border: 1px solid;
    border-top: none;
    &_photo {
        padding: 1rem;
        display: block;
        margin: 0 auto;
        width: 180px;
        height: auto;
        border-radius: 180px;
    }
    &_content {
        padding: 2rem;
        line-height: 2.5rem;
    }
}