.experience {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  margin-top: 0px;
  position: relative;
  overflow: hidden;
  border: 1px solid;
  border-top: none; }
  .experience:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1; }
  .experience .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #F5F7FA;
    background: #4FC1E9;
    margin-top: 10px;
    z-index: 9999; }
  .experience .timeline-block {
    width: -webkit-calc(50% + 8px);
    width: -moz-calc(50% + 8px);
    width: calc(50% + 8px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both; }
    .experience .timeline-block-right {
      float: right; }
    .experience .timeline-block-left {
      float: left;
      direction: rtl; }
  .experience .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666; }
    .experience .timeline-content h3 {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 25px;
      font-weight: 500; }
    .experience .timeline-content span {
      font-size: 15px;
      color: #a4a4a4; }
    .experience .timeline-content p {
      font-size: 14px;
      line-height: 1.5em;
      word-spacing: 1px;
      color: #888; }
