.percentage {
    width: 40%;
    position: relative;
    margin-bottom: 10%;
    display: inline-block;
    font-size: 0.5rem;
    margin-right: 1rem;
    &_title {
        p {
            display: inline;
            margin-right: 1rem;
        }
        &_img {
            &_lg {
                position: relative;
                top: 20px;
                width: 5rem;
                height: 5rem;
            }
            &_m {
                position: relative;
                top: 10px;
                width: 3.5rem;
                height: 3.5rem;
            }
            &_s {
                position: relative;
                top: 5px;
                width: 3rem;
                height: 3rem;
            }
        }
    }
    &_bar {
        height: .7 em;
        margin: 2% 0;
        border-radius: 2px;
        display: block;
        text-align: center;
        &_percent {
            height: .7em;
            display: block;
        }
    }
}