@import './base/button.scss';
@import './base/scroll-down.scss';
@import './containers/Intro.scss';
@import './containers/about.scss';
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #EDEEEF;
    color:#696969;
}