.main-button {
  position: relative;
  margin-right: 1rem;
  color: white;
  border: 1px solid;
  padding: 10px;
  text-decoration: none; }

.scroll-down {
  font-size: 2rem;
  margin-top: 2rem;
  animation: scrollDown 1s;
  animation-iteration-count: infinite; }

@keyframes scrollDown {
  0% {
    margin-top: 1rem; }
  25% {
    margin-top: 1.15rem; }
  50% {
    margin-top: 1.25rem; }
  75% {
    margin-top: 1.15rem; }
  100% {
    margin-top: 1rem; } }

.front {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  background: url("../images/laptop.jpg") no-repeat center;
  background-size: cover;
  text-align: center; }
  .front_logo {
    background: rgba(105, 105, 105, 0.9);
    color: white;
    top: 45%;
    padding: 3rem;
    position: absolute;
    display: block;
    z-index: 1;
    animation: onLoad 2s cubic-bezier(0.4, 0.02, 0.57, 0.82); }
    .front_logo h1 {
      font-size: 3rem; }
    .front_logo p {
      font-weight: 300; }
    .front_logo a {
      color: white;
      cursor: pointer; }

@media screen and (min-width: 375px) and (max-width: 768px) {
  .front_logo {
    top: 20%;
    width: 100%;
    background: rgba(105, 105, 105, 0.7); }
  .front .sub-button {
    margin-top: 1rem;
    display: block; } }

@media screen and (min-width: 320px) and (max-width: 374px) {
  .front_logo {
    top: 20%;
    width: 100%;
    background: rgba(105, 105, 105, 0.7); }
  .front .main-button {
    position: relative;
    display: block;
    margin-top: 1rem; }
  .front .sub-button {
    margin-top: 1rem;
    display: block; } }

@keyframes onLoad {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.percentage {
  position: relative;
  margin-bottom: 10%; }
  .percentage_bar {
    height: .7 em;
    margin: 2% 0;
    border: .05em solid  #2D2D2D;
    border-radius: 2px;
    display: block;
    text-align: center; }
    .percentage_bar .percentage_bar_1 {
      height: .7em;
      background: #2D2D2D;
      display: block;
      width: 85%; }
    .percentage_bar .percentage_bar_2 {
      height: .7em;
      background: #2D2D2D;
      display: block;
      width: 70%; }
    .percentage_bar .percentage_bar_3 {
      height: .7em;
      background: #2D2D2D;
      display: block;
      width: 50%; }

.about-me {
  margin: 0% 10% 0% 10%;
  border: 1px solid;
  border-top: none; }
  .about-me_photo {
    padding: 1rem;
    display: block;
    margin: 0 auto;
    width: 180px;
    height: auto;
    border-radius: 180px; }
  .about-me_content {
    padding: 2rem;
    line-height: 2.5rem; }

.about {
  margin-top: 2rem;
  min-height: 100vh;
  text-align: center;
  font-size: 1.5rem; }
  .about_title {
    margin: 0% 10% 0% 10%;
    border: 1px solid;
    padding: 10px; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #EDEEEF;
  color: #696969; }
