@import '../components/about/about-me.scss';
@import '../components/about/skill.scss';
@import '../components/about/experience.scss';
.about {
    margin-top: 2rem;
    min-height: 100vh;
    text-align: center;
    font-size: 1.5rem;
    &_title {
        margin: 0% 10% 0% 10%;
        border: 1px solid;
        padding: 10px;
        cursor: pointer;
        &:hover {
            position: relative;
            background: #513DDC;
            color: white;
            bottom: 3px;
            box-shadow: 3px 3px 5px #696969;
        }
        &_active {
            background: #FF0279;
            color: white;
            border: 1px solid #696969;
        }
    }
}