@import '../components/about/about-me.scss';
@import '../components/about/skill.scss';
@import '../components/about/experience.scss';
.about {
    margin-top: 2rem;
    min-height: 100vh;
    text-align: center;
    font-size: 1.5rem;
    &_title {
        margin: 0% 10% 0% 10%;
        border: 1px solid;
        padding: 10px;
    }
}