@import '../components/contact/timeNsalary.scss';
@import '../components/contact/calendar.scss';

.contact {
    text-align: center;
    margin: 3rem 0 5rem 0;
    &_title {
        font-size: 3.5rem;
    }
    &_input {
        input {
            border-radius: 0px;
            background: none;
            border: none;
            border-bottom: 2px solid;
            margin: 0 0 2rem 1.5rem;
            padding: 20px;
            &:focus {
                outline: none;
                border-bottom: 3px solid #3429AB;  
            }
        }
        label {
            display: block;
            margin: 5rem 0 1.5rem 1rem;
        }
    }
}