.member-center {
  background: linear-gradient(to right, #fc5c7d, #6a82fb);
  color: white;
  text-align: center; }
  .member-center_greeting {
    font-size: 3rem;
    padding: 25px;
    background: rgba(0, 0, 0, 0.5);
    text-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 15px #fff, 0px 0px 3px #fff; }
  .member-center_companyArea {
    padding: 0 2%;
    background: rgba(0, 0, 0, 0.5); }
    .member-center_companyArea_block {
      display: inline-block;
      padding: 2%; }
      .member-center_companyArea_block_content {
        box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 15px #fff, 0px 0px 3px #fff;
        background: rgba(255, 255, 255, 0.2);
        padding: 3%; }
        .member-center_companyArea_block_content_company-name {
          font-size: 2rem;
          margin-bottom: 2rem;
          padding: 0 0 1rem 0;
          border-bottom: 1px solid;
          font-weight: 600;
          text-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 15px #fff, 0px 0px 3px #fff;
          text-align: left; }
        .member-center_companyArea_block_content p {
          display: inline-block;
          padding: 10px 5px;
          font-size: 1rem; }
          .member-center_companyArea_block_content p i {
            margin-right: 2%; }
        .member-center_companyArea_block_content_title {
          width: 25%;
          margin-right: 5%;
          text-align: left; }
          .member-center_companyArea_block_content_title i {
            cursor: pointer; }
            .member-center_companyArea_block_content_title i:hover {
              border: 1px solid;
              box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 15px #fff, 0px 0px 3px #fff;
              text-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 15px #fff, 0px 0px 3px #fff; }
        .member-center_companyArea_block_content_text {
          width: 65%;
          box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 15px #fff, 0px 0px 3px #fff; }
        .member-center_companyArea_block_content_message {
          margin-top: 1rem;
          font-weight: 600;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 35px;
          margin: 2rem 45%;
          width: 70px;
          height: 70px;
          cursor: pointer; }
          .member-center_companyArea_block_content_message:hover {
            border: 1px solid;
            box-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 15px #fff, 0px 0px 3px #fff;
            text-shadow: 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 0px #fff, 0px 0px 15px #fff, 0px 0px 3px #fff; }
          .member-center_companyArea_block_content_message i {
            display: block; }
